<div class="main">
    <app-auth-navbar></app-auth-navbar>
    <!-- section for signin -->
    <div class="d-flex form-section">
        <div class="col-lg-8 my-auto">
            <app-auth-left-side [signUp]="true"></app-auth-left-side>
        </div>
        <div class="col-lg-4">
            <form [formGroup]="SignUpForm">
                <h3 class="signin-head">Sign Up</h3>
                <input formControlName="email" class="custom-input signup-input" type="email"
                    placeholder="Enter Email" />
                <div *ngIf="submitted && f.email.errors" class="text-danger" style="margin-top: 0;">
                    <div *ngIf="f.email?.errors?.['required']">
                        Email is required
                    </div>
                </div>
                <input formControlName="name" class="custom-input signup-input" type="text"
                    placeholder="Create User name" />
                <div *ngIf="submitted && f.name.errors" class="text-danger" style="margin-top: 0;">
                    <div *ngIf="f.name?.errors?.['required']">
                        User name is required
                    </div>
                </div>
                <input formControlName="number" class="custom-input signup-input" type="tel"
                    placeholder="Contact number" />
                <div *ngIf="submitted && f.number.errors" class="text-danger" style="margin-top: 0;">
                    <div *ngIf="f.number?.errors?.['required']">
                        Number is required
                    </div>
                </div>
                <input formControlName="password" class="custom-input signup-input" type="password"
                    placeholder="Password" />
                <div *ngIf="submitted && f.password.errors" class="text-danger" style="margin-top: 0;">
                    <div *ngIf="f.password?.errors?.['required']">
                        Password is required
                    </div>
                </div>
                <input formControlName="confirmPassword" class="custom-input signup-input" type="password"
                    placeholder="Confirm Password" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="text-danger" style="margin-top: 0;">
                    <div *ngIf="f.confirmPassword?.errors?.['required']">
                        Confirm Password is required
                    </div>
                </div>
                <div style="margin-top: 0;" *ngIf=" pinsNotMatched" class="text-danger">Passwords Not Matched</div>
                <button (click)="Submit()" class="submit-btn signup-input">Register</button>
                <p class="continue-txt signup-input">or continue with</p>
                <div class="d-flex social-logins signup-input">
                    <img src="../../../../assets/images/Facebook.png" />
                    <img src="../../../../assets/images/apple.png" />
                    <img src="../../../../assets/images/google.png" />
                </div>
            </form>
        </div>
    </div>
</div>