<div class="row">
    <div class="col-lg-2 d-flex gap-2">
        <img class="round-img my-auto" src='../../../../assets/images/burger.png' />
        <img class="my-auto logo" src='../../../../assets/images/Logo.png' />
    </div>
    <div class="col-lg-4 col-md-6 my-auto">
        <ul class="my-auto nav-elements">
            <li>Dashboard</li>
            <li>About Us</li>
            <li>News</li>
            <li>User Policy</li>
            <li>Contacts</li>
        </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="position-relative col-lg-3 col-md-4 my-auto">
        <img class="search-icon" src="../../../assets/images/search.png" />
        <input class="search-field" placeholder="Search Transactions and Documents" />
        <img class="search-arrow-icon" src="../../../assets/images/serachArrow.png" />
    </div>
    <div class="col-lg-2 col-md-2 my-auto d-flex justify-content-end">
        <div class="d-flex my-auto">
            <img src="../../../assets/images/Icon.png" class="my-auto" />
            <p class="user-name my-auto">{{name}}</p>
        </div>
        <img class="round-img my-auto" src='../../../../assets/images/Notification.png' />
        <img class="round-img my-auto" src='../../../../assets/images/Button.png' />
    </div>
</div>