<div>
    <img class="round-img my-2" src="../../../assets/images/location.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/star.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/messages.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/growth.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/earth.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/building.png" />
</div>
<div class="position-absolute fixed-bottom" style="left: 10px;">
    <img class="round-img my-2" src="../../../assets/images/Avatar1.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/Avatar2.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/Avatar3.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/Avatar4.png" />
    <br />
    <img class="round-img my-2" src="../../../assets/images/Avatar5.png" />
</div>