<div class="header d-flex justify-content-between">
    <div class="col-lg-3 auth-logo">
        <img class="my-auto" src='../../../../assets/images/Logo.png' />
    </div>
    <div class="auth-list col-lg-4 my-auto">
        <ul class="my-auto">
            <li class="active">Home</li>
            <li>Careers</li>
            <li>Pricing</li>
            <li>Features</li>
        </ul>
    </div>
    <div class="auth-lang col-lg-4 my-auto d-flex justify-content-end">
        <div class="d-flex gap-2">
            <img class="my-auto" src="../../../../assets/images/globe.png" />
            <p class="my-auto language">English</p>
            <img class="my-auto" src="../../../../assets/images/arrowDown.png" />
        </div>
        <img class="my-auto mx-4" src="../../../../assets/images/Divider.png" />
        <p class="my-auto language">Login</p>
        <button class="demobtn">Get Demo</button>
    </div>
</div>