<div class="main">
    <app-auth-navbar></app-auth-navbar>
    <!-- section for signin -->
    <div class="d-flex form-section">
        <div class="col-lg-8 my-auto">
            <app-auth-left-side [signUp]="false"></app-auth-left-side>
        </div>

        <div class="col-lg-4">
            <form [formGroup]="loginForm">
                <h3 class="signin-head">Sign in</h3>
                <input formControlName="email" class="custom-input" type="text"
                    placeholder="Enter email or user name" />
                <div *ngIf="submitted && f.email.errors" class="text-danger">
                    <div *ngIf="f.email?.errors?.['required']">
                        Email or user name is required
                    </div>
                </div>
                <input formControlName="password" class="custom-input" type="password" placeholder="Password" />
                <div *ngIf="submitted && f.password.errors" class="text-danger">
                    <div *ngIf="f.password?.errors?.['required']">
                        Password is required
                    </div>
                </div>
                <p class="forgotpswd">Forgot password ?</p>
                <button (click)="submit()" class="submit-btn">Login</button>
                <p class="continue-txt">or continue with</p>
                <div class="d-flex social-logins">
                    <img src="../../../../assets/images/Facebook.png" />
                    <img src="../../../../assets/images/apple.png" />
                    <img src="../../../../assets/images/google.png" />
                </div>
            </form>
        </div>

    </div>
</div>