<div [@slideInLeft] *ngIf="signUp == false">
    <h1 class="auth-heading">Sign in to </h1>
    <h2 class="sub-head">Lorem Ipsum is simply</h2>
    <p class="desc">If you don’t have an account register<br />You can <span (click)="toSignUp()">Register
            here!</span>
    </p>
</div>
<div [@slideInLeft] *ngIf="signUp == true">
    <h1 class="auth-heading">Sign Up to </h1>
    <h2 class="sub-head">Lorem Ipsum is simply</h2>
    <p class="desc">If you already have an account <br />You can <span (click)=toLogin()>Login here !</span></p>
</div>