@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


:root {
    --navbar-primaryTextColor: #3D474D;
    --auth-screens-text-color: #000000;
    --dashboardNavBarItemsColor: #7D8FB3
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

form {
    width: 100%;
}

.main {
    padding: 30px 80px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    font-size: 16px;
    color: var(--navbar-primaryTextColor);
    cursor: pointer;
    padding: 8px 20px;
}

.active {
    font-weight: 700;
    border-bottom: 4px solid #F4711E;
    opacity: 0.9;
}

.language {
    font-size: 16px;
    font-weight: 400;
    color: var(--navbar-primaryTextColor);
}

.demobtn {
    margin: auto 0;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #FF9002;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 14px;
}

.demobtn:hover {
    background-color: #FF9002;
    color: #fff;
}

.auth-heading {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--auth-screens-text-color);
}

.sub-head {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 50px;
}

.desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: var(--auth-screens-text-color);
}

.desc span {
    font-size: 16px;
    font-weight: 600;
    color: #4D47C3;
    cursor: pointer;
}

.signin-head {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.custom-input {
    background: #FFF7ED;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    outline: none;
    color: #FAB777;
    font-size: 15px;
    width: 100%;
    font-weight: 400;
    margin-bottom: 30px;
}

.signup-input {
    margin: 0 !important;
    margin-bottom: 15px !important;
}

.custom-input::placeholder {
    color: #FAB777;
    font-size: 15px;
    font-weight: 400;
}

.forgotpswd {
    color: #B0B0B0;
    font-weight: 400;
    font-size: 13px;
    text-align: right;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    padding: 17px 0;
    border: unset;
    border-radius: 10px;
    background: #F4711E;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin: 20px 0;
}

.continue-txt {
    color: #B0B0B0;
    margin: 20px 0;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.social-logins {
    justify-content: center;
}

.social-logins img {
    width: 30px;
    margin: 0 5px;
}

.text-danger {
    font-size: 14px;
    padding: 0;
    margin-top: -20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.form-section {
    width: 80%;
    margin: 80px auto;
}

/* Dasboard styling */

.dashboard-header {
    padding: 20px;
}

.nav-elements li {
    font-size: 12px;
    color: var(--dashboardNavBarItemsColor);
    padding: unset;
    font-weight: bold;
    margin: auto 0;

}

.search-icon {
    position: absolute;
    left: 28px;
    top: 10px;
    width: 25px;
}

.search-arrow-icon {
    position: absolute;
    right: 30px;
    top: 11px;
    width: 20px;
}

.search-field {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 12px;
    border-radius: 20px;
    padding: 12px 50px;
    font-weight: bold;
    color: #ADB8CC;
    margin: auto 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-field::placeholder {
    font-size: 12px;
    color: #ADB8CC;
    font-weight: unset;
}

.user-name {
    font-size: 13px;
    color: #6B7A99;
    font-weight: bold;
    margin: auto 15px;
}

.round-img {
    width: 50px;
    margin: auto 0;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.content-scetion {
    background-color: #fff;
    margin-top: 20px;
}

.user-email {
    color: #ADB8CC;
    font-size: 14px;
    margin-top: 10px;
}

.options ul {
    padding: 0;
    margin: 0;
}

.options li {
    border: 1px solid #edeff2;
    width: 50%;
    transition: transform 0.3s ease;
    z-index: 1;
    padding: 30px 0;
}

.options .active {
    z-index: 2 !important;
    transform: scale(1.2);
    background-color: #fff;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    transform-origin: center;
}

.main-content {
    border: 1px solid #edeff2;
    margin: 30px 0;
    border-radius: 20px;
    padding: 20px 0;
}

.content-head ul {
    padding: 0;
}

.content-head li {
    display: flex;
    padding: unset;

}

.content-head p {
    color: #7D8FB3;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.active-task {
    color: #3361FF !important;
}

hr {
    color: #edeff2;
    height: 2px;
}

.bread-crums p {
    margin: 0;
    padding: 0;
    color: #4D5E80;
    font-weight: bold;
    font-size: 12px;
}

.arrow-img {
    margin: auto 0;
    width: 20px;
    margin-top: 0px;
}

.task-creation p {
    font-size: 12px;
    margin-left: 20px;
    padding: 0;
    color: #4D5E80;
    font-weight: bold;
}

.task-creation input, textarea {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 12px;
    border-radius: 10px;
    padding: 14px 20px;
    font-weight: bold;
    color: #ADB8CC;
    margin: auto 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

::placeholder {
    font-size: 12px;
    color: #ADB8CC;
    font-weight: unset;
}

.sub-task {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 12px;
    border-radius: 10px;
    padding: 20px 0;
    font-weight: bold;
    color: #ADB8CC;
    margin: auto 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sub-task input {
    box-shadow: unset;
}

.btn-save {
    width: fit-content;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background: #3361FF;
    color: #fff;
    margin-left: 10px;
}

.activity {
    border-left: 2px solid #edeff2;
}

.activity p {
    padding: 0;
    margin-bottom: 5px;
    font-size: 12px;
    color: #7D8FB3;
    font-weight: bold;
}

.with-border {
    border-right: 2px solid #edeff2;
}

.bottomBorder {
    border-bottom: 2px solid #edeff2;
    padding-bottom: 20px;
}

/* media queries for responsiveness */

@media screen and (max-width: 1300px) and (min-width: 1000px) {
    .main {
        padding: 30px;
    }

    .header {
        width: 100%;
    }

    .auth-logo {
        width: 10%;
        margin: auto 0;
    }

    .auth-logo img {
        width: 100%;
    }

    .auth-list {
        width: 45%;
    }

    .auth-lang {
        width: 45%;
    }

    .form-section {
        width: 95%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 900px) {
    .main {
        padding: 30px;
    }

    .auth-list {
        display: none;
    }

    .auth-lang {
        display: none !important;
    }

    .form-section {
        width: 100%;
        display: block !important;
    }

    .auth-heading {
        font-size: 30px;
    }

    .sub-head {
        font-size: 20px;
    }

    .desc {
        font-size: 15px;
    }

    .signin-head {
        display: none;
    }
}